<html>
  <title>{{title}}</title>
  <body>
    <h1>{{title}}</h1>
    <i>
      <h2>"{{message}}"</h2>
      - {{author.name}}
    </i>
    <hr />
    <footer>
      <small>Rendered by Handlebars</small> YASSSS {{cool}}
    <footer>
  </body>
<html>
